body {
    background: -webkit-linear-gradient(#030406, #000000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#030406, #000000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#030406, #000000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#030406, #000000); /* Standard syntax */
	font: 11px "Lucida Grande",Arial,Verdana,sans-serif;
	width: 100%;
	margin: 0 auto;
}					
#background {
    
}
#nightswatch {
    background-color:rgba(45,45,48,0.6);
}
.items {
	float: left;
	width: 906px;
	margin: -11px 22px 9px;
}
.details { 		
	position: absolute;
	width: 950px;
	padding-top: 6px;
	height: 213px;
    background-color: rgb(45,45,48);
	overflow: hidden;
	box-shadow: inset 0 9px 40px rgba(0,0,0,0.8);
	z-index: 30;
}
.details_content {
	padding: 1px 48px 97px;
	position: relative;
	overflow: hidden;
}
.details h2 a {
	color: #d9d9d9;
	text-decoration: none;
}
.details b{
	color: #068AE2;
}
.sub_details {
    color: #A2A2A4;
	padding: 2px;
}
.download_details {
    color: #A2A2A4;
	padding: 2px;
    padding-top: 20px;   
}
.sub_details a {
	color: #d9d9d9;
	text-decoration: none;		
}
.action_btn a {
	color: #d9d9d9;
}			
.shelf_inner {
	z-index: 1;
	background: url(/static/img/shelf.jpg);
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-drag: none;
	-webkit-perspective: 1000;
}
.shelf_header {
	position: relative;
	height: 47px;
	font-size: 49px;
	padding: 0 48px;
	background: url(/static/img/shelf_header_footer.jpg);	
	text-align: center;				
}
.shelf_header b {
	float: left;
	text-align: left;
	color: #000;
	opacity: .7;
	padding-right: 8px;
	height: 47px;
	line-height: 47px;
	text-shadow: 0 1px rgba(255,255,255,0.25);
	font-size: 12px;
	cursor: pointer;
	z-index: 10;
}
.shelf_header b:active {
    opacity: .5;
}
.shelf_footer {
	height: 62px;
	line-height: 62px;
	background: url(/static/img/shelf_header_footer.jpg) 0 -46px;
	text-align: center;
}										
.shelf_outer {	
	width: 950px;
	margin: 0 auto;					
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}						
.box { 
	width: 178px;
	height: 208px;
	background: url(/static/img/box.png);
	float: left;
	margin: 34px 0 0 3px;
	position: relative;		
}
.box_progress {
	position: absolute;
	left: 0;
	top: 0;
	margin: 59px 0 0 44px;
	z-index: 10;
}
.item {
	width: 128px;
	height: 180px;
	position: relative;
	z-index: 1;
	margin: 14px 0 0 24px;
	cursor: pointer;
}
.search_bar {
    float: left;
    margin: 12px 0 0 5px;    
    opacity: .5;
}
.nav_btn {
	float: right;
	color: #000;
	opacity: .7;
	height: 47px;
	line-height: 47px;
	text-shadow: 0 1px rgba(255,255,255,0.25);
	font-size: 12px;
	cursor: pointer;
	z-index: 10;
}
.shelf_btn {
	opacity: .9;
	padding: 0 8px 0 8px;
	border: 1px solid #8d8d8d;
	border-right-color: #929292;
	border-bottom-color: #989898;
	border-left-color: #929292;
	cursor: pointer;
	font-weight: 600;
	font-family: "Open Sans 600","Open Sans",sans-serif;
	font-size: 14px;
	border-color: #a4a3a3;	
	color: #210f00;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 0 rgba(255,255,255,0.2);
	border-top: 1px solid #59300d;
	border-right: 1px solid #5a310e;
	border-bottom: 1px solid #59300d;
	border-left: 1px solid #572f0c;
	text-shadow: 0 1px rgba(255,255,255,0.2);
	white-space: nowrap;
	margin-right: 1px;
}
.shelf_btn:active {
    opacity: .5;
}
.score { 
	font-size: 10px;
	font-weight: 600;
	position: absolute;	
	top: 203px;
	left: 80px;
	opacity: .7;				
}
.action_btn {
	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 8px;				
	height: 25px;
	padding: 0 10px;
	margin: 10 10 0 0px;
	color: #102017;
	line-height: 25px;
	-webkit-box-shadow: inset 0 1px 0 #e2ec81,inset 0 0 1px rgba(255,255,255,0.3),0 0 1px rgba(0,0,0,0.6),0 1px 1px rgba(0,0,0,0.5),0 0 15px rgba(121,209,63,0.3);
	-moz-box-shadow: inset 0 1px 0 #e2ec81,inset 0 0 1px rgba(255,255,255,0.3),0 0 1px rgba(0,0,0,0.6),0 1px 1px rgba(0,0,0,0.5),0 0 15px rgba(121,209,63,0.3);
	box-shadow: inset 0 1px 0 #e2ec81,inset 0 0 1px rgba(255,255,255,0.3),0 0 1px rgba(0,0,0,0.6),0 1px 1px rgba(0,0,0,0.5),0 0 15px rgba(121,209,63,0.3);
	background: #bbd200;
	background: -moz-linear-gradient(top,#bbd200 0,#9abb00 25%,#88ad00 50%,#769f00 75%,#779e00 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#bbd200),color-stop(25%,#9abb00),color-stop(50%,#88ad00),color-stop(75%,#769f00),color-stop(100%,#779e00));
	background: -webkit-linear-gradient(top,#bbd200 0,#9abb00 25%,#88ad00 50%,#769f00 75%,#779e00 100%);
	background: -o-linear-gradient(top,#bbd200 0,#9abb00 25%,#88ad00 50%,#769f00 75%,#779e00 100%);
	background: linear-gradient(to bottom,#bbd200 0,#9abb00 25%,#88ad00 50%,#769f00 75%,#779e00 100%);
	-pie-background: linear-gradient(to bottom,#bbd200 0,#9abb00 25%,#88ad00 50%,#769f00 75%,#779e00 100%);
	cursor: pointer;
	margin-right: 5px;
}
.star {
	background-position: -180px -71px;
	width: 66px;
	height: 66px;
	line-height: 66px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	font-weight: bold;
	color: black;
	font-family: tahoma;
	float: right;
	padding-right: 5px;
}
.star a {
	text-decoration: none;
	color: black;
}
.imdb_sprites {
	background-image: url(/static/img/imdb_sprites.png);
	display: inline-block;
	vertical-align: middle;
}
.slidedown-appear {  
  transition: max-height .3s ease-in;
  max-height: 0px;
}
.slidedown-appear.slidedown-appear-active {
  max-height: 213px;
}
.slidedown-leave {
  max-height: 213px;
  transition: max-height .3s ease-in;
}
.slidedown-leave.slidedown-leave-active {
  max-height: 0px;
}